<mtapp:setting
    id="entry_preference_standardizer_enable"
    label="<__trans phrase="EntryPreferenceStandardizer enable:">"
    >
    <input
        type="checkbox"
        name="entry_preference_standardizer_enable"
        id="entry_preference_standardizer_enable"
        value="1"
        <mt:if name="entry_preference_standardizer_enable" >
            checked="checked"
        </mt:if>
        class="cb"
    />
</mtapp:setting>

